{% extends "admin/base_site.html"%}
{% load static %}
{% load custom_tags %}

{% block userlinks %}
    <!--<a href="#">WELCOME <strong>{{request.user.username}}</strong></a>/-->
    {% if request.user.is_authenticated %}
    &#128512;
    <a href="{% url 'admin:app_mediafile_changelist'%}"class="notifications">
        &#128195;
        DOCUMENT LIST
    </a>
  
 
    <!--{{ block.super }} remove default navigation links-->

    <a href="{% url 'admin:app_notification_changelist' %}" class="notifications">
    
        &#128276;
        Notifications
        <span class="badge">{% get_notification_count request.user.username %}</span>
    </a>
    
    <a href="{% url 'admin:password_change'%}"class="notifications">&#128273; CHANGE PASSWORD</a>
   
    <a onclick="document.getElementById('logoutForm').submit(); return false;" class="notifications"> &#128682; LOG-OUT</a>
    <form id="logoutForm" action="{% url 'admin:logout'%}" method="post">
        {% csrf_token %}
    </form>
    
    {% endif %}

    <style>
        .notifications {
            margin-left:15px;
            font-weight:bold;
            color:red;
        }
        {% if get_notification_count > 0 %}
        .badge {
            background-color:red;
            color:white;
            border-radius:50%;
            padding: 2px 6px;
            font-size: 12px;
        }
        {% endif %}
    </style>

{% endblock %}